<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <h3 class="creditos">Encuentrame en mis redes</h3>
      <!-- Section: Social media -->
      <section class="mb-4">
      
  
        <!-- Linkedin -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1 linkedin" href="https://www.linkedin.com/in/patricia-d-66391510a/" target="_blank"role="button"
          ><bi name="linkedin" class="iconos" ></bi></a>
  
        <!-- Github -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1 github" href="https://github.com/pattsunade" target="_blank" role="button"
          ><bi name="github" class="iconos" ></bi></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 creditos" style="background-color: rgba(0, 0, 0, 0.2);">
     Desarrollado por Patricia Delgado
      
    </div>
    <!-- Copyright -->
  </footer>