<mat-card-content class="paddingTop"  >
    <div class="example-sidenav-content"  >
        <mat-card class="example-card " >
            <mat-card-content>
                <mat-icon color="primary" class="iconos">filter_center_focus</mat-icon>
                    <div  class="fs-2 move">
                        Objetivos
                    </div>
                    <p class="move">
                        Ser parte de
                        una empresa y desarrollar nuevas habilidades
                        , poner en práctica lo conocido
                        y crecer en el área profesional y personal, el cual
                        brinde oportunidades y herramientas
                        necesarias para lograr alcanzar todas las  metas esperadas a
                        futuro.
                    </p>
            </mat-card-content>
            <mat-card-content>
                <mat-icon color="primary" class="iconos">work</mat-icon>
                    <div  class="fs-2 move">
                        Experiencia Laboral
                    </div>
                    <h3 class="font" style="font-weight: 700; font-size: 18px;">
                        Plan Dinside, Santiago
                    </h3>
                    <mat-icon color="primary" style="margin-left: 10px; margin-top: -10px;">calendar_today</mat-icon>
                    <h3 class="año">
                        2021-2022
                    </h3>
                    <p class="font" style="margin-bottom: 30px;">
                        
                    </p>
            </mat-card-content>Desarrollo de aplicaciones monolíticas,
                        usando Spring MVC, Spring JPA y JSP.
                        Manejos de interfaces.
                        apoyé en el desarrollo y mantenimiento de
                        tres proyectos para distintas empresas, tanto
                        como aplicaciones de escritorio y móvil.
                        Desarrollando parte del frontend y backend
                        ademas de la base de datos usando sql.
        </mat-card>
    </div>
</mat-card-content>



    



