<div class="content">
    <div class="card" >
        <img
          src="./assets/imagenes/wasa.jpeg"
          class="card-img-top"
          alt="..."
          style="height: 250px;"
        />
        <div class="card-body">
          <h5 class="card-title">Calendario</h5>
          <p class="card-text">
            Calendario muestra día exacto en el nos encontramos actualmente. Este fue realizado
            con funciones de javaScript, html y css
          </p>
          
          <a href="https://pattsunade.github.io/c4lendari0/" class="btn btn-secondary" target="_blank">Ver</a>
        </div>
      </div>
</div>
<div class="content">
    <div class="card">
        <img
          src="./assets/imagenes/wasa2.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Blocks Displaying</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="https://pattsunade.github.io/dispalyingBlocks/" class="btn btn-secondary " target="_blank">Ver</a>
        </div>
      </div>
</div>
<div class="file2">
    <div class="card">
        <img
          src="./assets/imagenes/wasa3.jpeg"
          class="card-img-top"
          alt="..."
          
        />
        <div class="card-body">
          <h5 class="card-title">Blog</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="https://pattsunade.github.io/blog-nutella/" class="btn btn-secondary" target="_blank">Ver</a>
        </div>
      </div>
</div>
<div class="file2">
    <div class="card">
        <img
          src="./assets/imagenes/wasa4.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Calculadora</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="https://pattsunade.github.io/calculadora/" class="btn btn-secondary" target="_blank">Ver</a>
        </div>
      </div>
</div>

<!-- BOTON VER MAS -->

<!-- <div class="file3" *ngIf="showMe" style="filter:drop-shadow(5px 5px 10px #888)">
  <div class="card" >
      <img
        src="./assets/imagenes/wasa5.jpeg"
        class="card-img-top"
        alt="..."
        style="height: 250px;"
      />
      <div class="card-body">
        <h5 class="card-title">Calendario</h5>
        <p class="card-text">
          Calendario muestra día exacto en el nos encontramos actualmente. Este fue realizado
          con funciones de javaScript, html y css
        </p>
        
        <a href="https://pattsunade.github.io/pokemon/" class="btn btn-secondary" target="_blank">Ver</a>
      </div>
    </div>
</div>
<div class="file3" *ngIf="showMe" style="filter:drop-shadow(5px 5px 10px #888)">
<div class="card" >
    <img
      src="./assets/imagenes/wasa6.jpeg"
      class="card-img-top"
      alt="..."
      style="height: 250px;"
    />
    <div class="card-body">
      <h5 class="card-title">Calendario</h5>
      <p class="card-text">
        Calendario muestra día exacto en el nos encontramos actualmente. Este fue realizado
        con funciones de javaScript, html y css
      </p>
      
      <a href="https://pattsunade.github.io/Mundo-Anillos/" class="btn btn-secondary" target="_blank">Ver</a>
    </div>
  </div>
</div>
<div class="example-button-row text-center verMas ">

  <button (click)="show()" *ngIf="hideMe" mat-raised-button color="primary" >Ver Mas </button>
  <button (click)="hide()" *ngIf="showMe" mat-raised-button color="primary" >Ver Menos </button>
  
  
</div> -->