
  

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    max-width: 100px;
    
  }
  
  img{
      max-width: 200px;
      
      border-radius: 90px;
      padding: 10px;
  }

 
  .paddingTop {
      padding-top: 10px;
      
      
      
  }

  .move{
      display: inline-block;
      margin-left: 5px;
      padding-top: 15px;
      font-size: 15px;
      color: #757575!important;
  }
  .info{
    display: inline-block;
    margin-left: 25px;
    color: #757575!important;
   font-size: 25px;
   font-weight: 500;
   margin-top: 35px;
  }
  .progress-bar{
      background-color: blueviolet;
  }
  .java {
    margin-left: 20px;
    padding-top: 15px;
    font-size: 15px;
    color: #757575!important;
  }
  .javaScript {
      float: left;
      width: 60px;
  }
  .list1{
      background-color: aqua;
    
  }
  .lista{
      
    display: inline-block;

  }
  .lista2{
    display: inline-block;
  }

  .habilidades{
      margin-top: -35px;
      margin-left: 45px;
  }
  .space{
      padding-bottom: 10%;
  }
  .margen{
      margin-left: 30px;
  }
 
 