
    
    <mat-card-content class="paddingTop ">
        <div class="example-sidenav-content " >
        <mat-card class="example-card " >
            <div fxLayoutAlign="center center" >
                <img mat-card-image src="./assets/imagenes/logo.jpg" alt="Photo of a Shiba Inu"> 
            </div>
           
            <mat-card-title fxLayoutAlign="center start"  >Patricia Delgado Malpica</mat-card-title>
            <mat-card-header fxLayoutAlign="center center">
                    <mat-card-subtitle  >Desarrollo junior</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-icon color="primary">account_circle</mat-icon>
                <div  class="fs-6 move">
                    Perfil
                </div>
                <p class="move">
                    Profesional con disciplina y organización, capacidad de trabajar en equipo y con empatía. buscando nuevos retos profesionales para mejorar. Interés en aprender y contribuir 
                    a soluciones. Si hay una mejor manera de hacer las cosas, me gustaría intentar lo mejor primero.
                </p>
                
            </mat-card-content>
            <mat-card-content>
                <mat-icon color="primary">code</mat-icon>
                <div  class="fs-6 move">
                    Desarrolladora Full Stack
                </div>
                
            </mat-card-content>
            <mat-card-content>
                <mat-icon color="primary">home</mat-icon>
                <div  class="fs-6 move" >
                    Regiòn Metropolitana, Chile.
                </div>
            </mat-card-content>
    
            <mat-card-content>
                <mat-icon color="primary"> email</mat-icon>
                <p  class="fs-6 move" >
                    patriciamariadejesusdm@gmail.com
                </p>
            </mat-card-content>
    
            <mat-card-content>
                <mat-icon color="primary">call</mat-icon>
                <div  class="fs-6 move" >
                    +56 9 9882 2035
                </div>
            </mat-card-content>
                <hr>
                <mat-card-content class="space">
                    <mat-icon color="primary">settings</mat-icon>
                    <div  class="info habilidades"fxLayoutAlign="start center" >
                        Habilidades
                    </div>
                    <mat-list class="lista2">
                        <mat-list-item role="listitem"  class="fs-6 move">-Spring Boot</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-Java</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-MysQl</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-Sql</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-Eclipse</mat-list-item>
                    </mat-list>
                    <mat-list  class="lista">
                        <mat-list-item role="listitem"  class="fs-6 move">-JavaScript</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-Jquery</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-Bootstrap</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-SweetAlert2</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-GitHub/bitbucket</mat-list-item>  
                    </mat-list>
                    <mat-list  class="lista">
                        <mat-list-item role="listitem"  class="fs-6 move">-Html</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-Css</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-Angular</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-TypeScript</mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move">-VsCode</mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-content class="margen">
                    <mat-list class="lista2">
                        <mat-list-item role="listitem"  class="fs-6 move"><img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png"/></mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move"><img src="https://img.icons8.com/color/48/000000/jsp.png"/></mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move"><img src="https://img.icons8.com/color/48/000000/angularjs.png"/></mat-list-item>
                        
                    </mat-list>
                     <mat-list  class="lista">
                        <mat-list-item role="listitem"  class="fs-6 move"><img src="https://img.icons8.com/color/48/000000/javascript--v1.png"/></mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move"><img src="https://img.icons8.com/color/48/000000/mysql-logo.png"/></mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move"><img src="https://img.icons8.com/color/48/000000/html-5--v1.png"/></mat-list-item>
                        
                    </mat-list>
                    <mat-list  class="lista">
                        <mat-list-item role="listitem"  class="fs-6 move"><img src="https://img.icons8.com/ios-filled/50/000000/jquery.png"/></mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move"><img src="https://img.icons8.com/color/48/000000/bootstrap.png"/></mat-list-item>
                        <mat-list-item role="listitem"  class="fs-6 move"><img src="https://img.icons8.com/color/48/000000/typescript.png"/></mat-list-item>
                        
                        
                    </mat-list> 
                </mat-card-content>
                <hr>
                <mat-icon color="primary" style="margin-top: 30px;">visibility</mat-icon>
                <div  class=" info" >
                    FrontEnd
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="60">75%</div>
                </div>
                <mat-icon color="primary">dvr</mat-icon>
                <div  class=" info" >
                    Backend
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55%</div>
                </div>

                <mat-icon color="primary" style="margin-top: 30px;">storage</mat-icon>
                <div  class=" info" >
                    Base de datos
                </div>
                <div class="progress" style="margin-bottom: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="60">30%</div>
                </div>
                
                
            
            
        </mat-card>
    </div>
    

  
    
    



    