<mat-card-content class="paddingTop"  >
    <div class="example-sidenav-content"  >
        <mat-card class="example-card " >
            <mat-card-content>
                <mat-icon color="primary" class="iconos">class</mat-icon>
                <div  class="fs-2 move">
                Educación
                </div>
                <h3 class=" font" style="margin-top: 20px; font-weight: 700; font-size: 18px;">
                    Técnicas de Desarrollo de Aplicaciones Full Stack en Java
                </h3>
                <mat-icon color="primary" style="margin-left: 10px; margin-top: -10px;">calendar_today</mat-icon>
                <h3 class="año">
                    2021-
                </h3>
                <p class="font" style="margin-bottom: 30px;">
                    Bootcamp (Accenture/Coding dojo)
                    Curso intesivo. En la trayectoria logré familiarizarme con lo bàsico de un desarollador fullstack aprendiendo sobre javascript, html, css,bootstrap, 
                    java, spring-boot y base de datos mySql.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card-content>


